@model PaginationViewModel

<div class="ms-3">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link"
               asp-action="@Model.ActionMethod"
               asp-route-pageIndex="@Model.PreviousPage"
               id="previous-page-link">
                &laquo;
            </a>
        </li>
        @{
            for (int i = Model.FirstPageIndex; i <= Model.LastPageIndex; i++)
            {
                <li class="page-item"
                    condition-class-active="@(i == Model.PageIndex)">
                    <a class="page-link"
                       asp-action="@Model.ActionMethod"
                       asp-route-pageIndex="@i">@i</a>
                </li>
            }
        }
        <li class="page-item">
            <a class="page-link"
               asp-action="@Model.ActionMethod"
               asp-route-pageIndex="@Model.NextPage"
               id="next-page-link">
                &raquo;
            </a>
        </li>
    </ul>
</div>

<script type="text/javascript">
    $( document ).ready(function() {
        let currentPageLink = $(".page-item.active > a").attr("href");
        if (currentPageLink === getPreviousPageLink()) {
            disableElement(getPreviousPageElement().parent());
        }
        if (currentPageLink === getNextPageLink()) {
            disableElement(getNextPageElement().parent());
        }
    });

    function getPreviousPageElement() {
        return $("#previous-page-link");
    }

    function getNextPageElement() {
        return $("#next-page-link");
    }

    function getPreviousPageLink() {
        return getPreviousPageElement().attr("href");
    }

    function getNextPageLink() {
        return getNextPageElement().attr("href");
    }

    function disableElement(element) {
        element.addClass("disabled");
    }
</script>