@model CreateReviewViewModel
@inject IViewLocalizer _localizer

<head>
    <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.min.css"
          rel="Stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/dropzone.min.css"
          rel="Stylesheet" type="text/css" />
</head>

<div class="my-3 row">
    <div class="col-10">
        <label class="form-label" asp-for="Title"></label>
        <input class="form-control" asp-for="Title" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="col-2">
        <label class="form-label" asp-for="AuthorGrade"></label>
        <select class="form-select" asp-for="AuthorGrade">
            <option selected disabled></option>
            @for (int i = ReviewConstrains.AuthorMinGrade;
            i <= ReviewConstrains.AuthorMaxGrade; i++)
            {
                <option value="@i" class="text-center">@i</option>
            }
        </select>
        <span asp-validation-for="AuthorGrade" class="text-danger"></span>
    </div>
</div>
<div class="mb-3 row">
    <div class="col-10">
        <label class="form-label"
               asp-for="ProductViewModel.Name"></label>
        <input class="form-control"
               asp-for="ProductViewModel.Name" />
        <span asp-validation-for="ProductViewModel.Name" class="text-danger"></span>
    </div>
    <div class="col-2">
        <label class="form-label"
               asp-for="ProductViewModel.Type"></label>
        <select class="form-control"
                asp-for="ProductViewModel.Type">
            <option selected disabled></option>
            @foreach (var type in Model.ProductTypes)
            {
                <option value="@type" class="text-center">
                    @type
                </option>
            }
        </select>
        <span asp-validation-for="ProductViewModel.Type" class="text-danger"></span>
    </div>
</div>
<div class="mb-3">
    <label class="form-label" asp-for="Body"></label>
    <textarea class="form-control review-textarea" asp-for="Body"></textarea>
    <span asp-validation-for="Body" class="text-danger"></span>
</div>
<div class="row g-3 align-items-center">
    <div class="col-auto">
        <label class="col-form-label" for="TagText">
            @_localizer["Input tag"] @TagConstrains.MaxTagsInReview
            @_localizer["tags, only letters, numbers"], '-'):
        </label>
    </div>
    <div class="col-auto" id="TagInputs" name="TagInputs">
        <input class="form-control"
               type="text"
               id="TagText"
               name="TagText"
               maxlength="@TagConstrains.TextMaxLength" />
    </div>
</div>

<input asp-for="Tags" hidden />
<div class="mb-3 row m-2">
    @for (int i = 1; i <= TagConstrains.MaxTagsInReview; i++)
    {
        <div class="col-2 position-relative pe-0" id="Tag@(i)" hidden>
            <input class="form-control text-center"
               type="text"
               id="Tag@(i)-Text"
               readonly>
            <button class="btn btn-close btn-warning position-absolute top-0 end-0"
                title="@_localizer["Delete tag"]"
                id="Tag@(i)btn">
            </button>
        </div>
    }
</div>

<input asp-for="ImagesUrls" hidden />
<div class="position-absolute buttom-center">
    @{
        await Html.RenderPartialAsync("ReviewPartials/_SaveButton");
    }
</div>

@{
    await Html.RenderPartialAsync("ReviewPartials/_CancelDialog");
}