@inject IViewLocalizer _localizer

<head>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/error-page.min.css" />
    <title>@AppConfigs.Title - @_localizer["Error"]</title>
</head>

<div class="error-container">
    <div class="mainbox">
        <div class="err">4</div>
        <i class="far fa-question-circle fa-spin"></i>
        <div class="err2">4</div>
        <div class="msg">
            @_localizer["Maybe this page moved"]
            <p>
                @_localizer["Let's go"]
                <a asp-controller="Review" asp-action="LastReviews">
                    @_localizer["home"]
                </a>
                @_localizer["and try from there"]
            </p>
        </div>
    </div>
</div>

