@inject IViewLocalizer _localizer

<head>
    <title>@AppConfigs.Title - @_localizer["Access Denied"]</title>
</head>

<div class="card">
    <div class="card-header">@_localizer["Access Denied"]</div>
    <div class="card-body">
        <ul>
            <li>@_localizer["Canceled"]</li>
            <li>@_localizer["Authentication required"]</li>
            <li>
                @_localizer["Try again"]
                <a asp-action="Login" asp-controller="Account">@_localizer["Login"]</a>
                @_localizer["page"]
            </li>
        </ul>
    </div>
</div>