@model PaginationViewModel

<div class="ms-3">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link"
               asp-action="@Model.ActionMethod"
               asp-route-pageIndex="@Model.PreviousPage"
               id="previous-page-link">
                &laquo;
            </a>
        </li>
        @{
            for (int i = 1; i <= Model.PagesAmount; i++)
            {
                var isActive = i == Model.PageIndex ? "active" : "";
                <li class="page-item @isActive">
                    <a class="page-link"
               asp-action="@Model.ActionMethod"
               asp-route-pageIndex="@i">@i</a>
                </li>
            }
        }
        <li class="page-item">
            <a class="page-link"
               asp-action="@Model.ActionMethod"
               asp-route-pageIndex="@Model.NextPage"
               id="next-page-link">
                &raquo;
            </a>
        </li>
    </ul>
</div>
@{
    await Html.RenderPartialAsync("_PaginationScripts");
}