@model PreviewViewModel

<div class="card mb-3 ms-2">
    <div class="row g-0">
        <div class="col-md-4">
            ID: @Model.Id
            @if (!string.IsNullOrWhiteSpace(Model.PreviewImageUrl))
            {
                <img src="@Model.PreviewImageUrl" class="img-fluid rounded">
            }
            else
            {
                <img src="@AppConfigs.DefaultImageUrl" class="img-fluid rounded">
            }
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">@Model.Title</h5>
                <h6 class="text-warning">
                    Review on @Model.ProductViewModel.Type :
                    @Model.ProductViewModel.Name |
                    Author`s rating: @Model.AuthorGrade |
                    User`s rating:
                    @{
                        await Html.RenderPartialAsync("_AverageUserRating", Model);
                    }
                </h6>
                <h5 class="card-header">Author: @Model.AuthorName</h5>
                <p class="card-text text-start">
                    @StringUtils.FormatTextWithLastWord(
                    Model.Body.Take(ReviewConstrains.PreviewBodySize))
                    ...
                </p>

                <p class="text-start">
                    @foreach (var tag in Model.Tags)
                    {
                        <small class="text-info">@tag</small>
                    }
                </p>

                <p class="card-text">
                    <small class="text-muted">
                        Added: @Model.DateAdded.ToLocalTime()
                    </small>
                </p>
            </div>
        </div>
    </div>
</div>