@model ReviewViewModel

<head>
    <title>@AppConfigs.Title - Create New Review</title>
</head>

<div class="card-body col-12 align-self-center pt-0 justify-content-center">

    <div asp-validation-summary="All" class="alert-danger"></div>
    <form asp-action="CreateReview" method="post">

        <div class="mb-3 row">
            <div class="col-10">
                <label class="form-label" asp-for="Title"></label>
                <input class="form-control" asp-for="Title" />
            </div>
            <div class="col-2">
                <label class="form-label" asp-for="AuthorGrade"></label>
                <select class="form-select" asp-for="AuthorGrade">
                    @for (int i = ReviewConstrains.AuthorMinGrade;
                    i <= ReviewConstrains.AuthorMaxGrade; i++)
                    {
                        <option value="@i" class="text-center">@i</option>
                    }
                </select>
            </div>
        </div>

        <div class="mb-3 row">
            <div class="col-10">
                <label class="form-label"
                       asp-for="ProductViewModel.ProductName"></label>
                <input class="form-control"
                       asp-for="ProductViewModel.ProductName" />
            </div>
            <div class="col-2">
                <label class="form-label"
                       asp-for="ProductViewModel.ProductType"></label>
                <select class="form-control"
                        asp-for="ProductViewModel.ProductType">
                    @foreach (var value in EnumUtils.GetValues<ProductType>())
                    {
                        <option value="@value" class="text-center">
                            @value
                        </option>
                    }
                </select>
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label" asp-for="Body"></label>
            <textarea class="form-control" asp-for="Body"></textarea>
        </div>

        <div class="row g-3 align-items-center">
            <div class="col-auto">
                <label class="col-form-label" for="TagText">
                    Input tag, press enter (max 5 tags):
                </label>
            </div>

            <div class="col-3" id="TagInputs" name="TagInputs">
                <input class="form-control"
                       type="text"
                       id="TagText"
                       name="TagText" />
                <input class="form-control"
                       type="text" id="TagId"
                       name="TagId"
                       hidden />
            </div>
        </div>
        @*todo: refactor to partial view*@
        <div class="mb-3 row m-2">
            <div class="col-2 position-relative pe-0"
                 id="Tag1"
                 hidden>
                <input class="form-control text-center"
                       asp-for="TagViewModel.Tag1"
                       readonly>
                <input class="form-control"
                       asp-for="TagViewModel.Tag1Id"
                       value="0"
                       hidden>
                <button class="btn btn-sm btn-close position-absolute top-0 end-0"
                        id="@nameof(TagViewModel.Tag1)btn">
                </button>
            </div>
            <div class="col-2 position-relative pe-0"
                 id="Tag2"
                 hidden>
                <input class="form-control text-center"
                       asp-for="TagViewModel.Tag2"
                       readonly>
                <input class="form-control"
                       asp-for="TagViewModel.Tag2Id"
                       value="0"
                       hidden>
                <button class="btn btn-sm btn-close position-absolute top-0 end-0"
                        id="@nameof(TagViewModel.Tag2)btn">
                </button>
            </div>
            <div class="col-2 position-relative pe-0"
                 id="Tag3"
                 hidden>
                <input class="form-control text-center"
                       asp-for="TagViewModel.Tag3"
                       readonly>
                <input class="form-control"
                       asp-for="TagViewModel.Tag3Id"
                       value="0"
                       hidden>
                <button class="btn btn-sm btn-close position-absolute top-0 end-0"
                        id="@nameof(TagViewModel.Tag3)btn">
                </button>
            </div>
            <div class="col-2 position-relative pe-0"
                 id="Tag4"
                 hidden>
                <input class="form-control text-center"
                       asp-for="TagViewModel.Tag4"
                       readonly>
                <input class="form-control"
                       asp-for="TagViewModel.Tag4Id"
                       value="0"
                       hidden>
                <button class="btn btn-sm btn-close position-absolute top-0 end-0"
                        id="@nameof(TagViewModel.Tag4)btn">
                </button>
            </div>
            <div class="col-2 position-relative pe-0"
                 id="Tag5"
                 hidden>
                <input class="form-control text-center"
                       asp-for="TagViewModel.Tag5"
                       readonly>
                <input class="form-control"
                       asp-for="TagViewModel.Tag5Id"
                       value="0"
                       hidden>
                <button class="btn btn-sm btn-close position-absolute top-0 end-0"
                        id="@nameof(TagViewModel.Tag5)btn">
                </button>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">
            Create
        </button>
        @{
            await Html.RenderPartialAsync("_CancelDialog");
        }
    </form>
</div>

@{
    await Html.RenderPartialAsync("_AutocompleteTag");
}