@model PreviewViewModel
@inject IViewLocalizer _localizer

<head>
    <title>@AppConfigs.Title - @Model.Title @_localizer["Delete"]</title>
</head>

<h4 class="card-header">@_localizer["Are you sure"]</h4>
<div class="m-3">
    @{
        await Html.RenderPartialAsync("ReviewPartials/_Preview", Model);
    }
</div>
<div class="m-3 align-middle">
    <form asp-action="DeleteConfirmed"
          asp-route-id="@Model.Id" method="post"
          class="mb-1">
        <button type="submit" class="btn btn-danger">
            @_localizer["Delete"]
        </button>
    </form>
    @{
        await Html.RenderPartialAsync("ReviewPartials/_BackToProfileButton");
    }
</div>
