@model ReviewDetailsViewModel
@inject IViewLocalizer _localizer

<head>
    <title>@AppConfigs.Title - @Model.Title @_localizer["Details"]</title>
</head>

<div class="card m-3">
    <h5 class="card-title mb-0">@Model.Title</h5>
    <h6 class="text-warning">
        @_localizer["Review on"] @Model.ProductViewModel.Type :
        @Model.ProductViewModel.Name |
        @_localizer["Author's rating"]: @Model.AuthorGrade
    </h6>
    @{
        await Html.RenderPartialAsync("ReviewPartials/_DateAdded", Model.DateAdded);
    }
    @{
        await Html.RenderPartialAsync("SingleReviewPartials/_ImageSlider", Model.ImagesUrls);
    }
    <div class="card-body text-start">
        <p class="card-text">
            @{
                await Html.RenderPartialAsync("ReviewPartials/_MarkdownBody", Model.Body);
            }
        </p>
    </div>
    <div class="m-3">
        @{
            await Html.RenderPartialAsync("ReviewPartials/_Tags", Model.Tags);
        }
    </div>
</div>
@{
    await Html.RenderPartialAsync("ReviewPartials/_BackToProfileButton");
}
