@model ReviewEditViewModel
@inject IViewLocalizer _localizer

<head>
    <title>@AppConfigs.Title - @Model.Title @_localizer["Edit"]</title>
</head>

<div class="card-body col-12 align-self-center pt-0 justify-content-center position-relative">
    <form asp-action="Edit" method="post" asp-route-id="@Model.Id" enctype="multipart/form-data">
        @{
            await Html.RenderPartialAsync("ReviewPartials/_ReviewForm", Model);
        }
        <input asp-for="ImagesToDelete" hidden />
    </form>
    @{
        await Html.RenderPartialAsync("ReviewPartials/_ReviewFormScripts");
    }
    <div class="m-3 row mb-5">
        @for (int i = 1; i <= Model.OldImagesUrls.Count; i++)
        {
            <div class="col-2 position-relative pe-0" id="old-image@(i)">
                <img src="@Model.OldImagesUrls[i - 1]" class="img-thumbnail card-img">
                <button class="btn btn-close btn-warning position-absolute top-0 end-0"
                    title="@_localizer["Delete image"]"
                    id="image@(i)-btn">
                </button>
            </div>
        }
    </div>
</div>

<script type="text/javascript">
    const imagesResultSeparator = "@ImageViewModelConstrains.ImagesSeparator";

    $(function () {
        restrictProductInput();
        $("#ProductViewModel_Type").on("change", function(event) {
            event.preventDefault();

        });
    });

    for (let i = 1; i <= @Model.OldImagesUrls.Count; i++) {
        $(`#image${i}-btn`).on("click", function (event) {
            event.preventDefault();
            addImageUrlToResult(i);
            hideImage(i);
        });
    }

    function restrictProductInput() {
        let productTypeElement = $("#ProductViewModel_Type");
        let productTitleElement = $("#ProductViewModel_Name");
        productTypeElement.attr("readonly", true);
        productTitleElement.attr("readonly", true);
    }

    function addImageUrlToResult(i) {
        let url = getImageElement(i).prop("src");
        let result = getImagesResultElement();
        if (result.val()) {
            result.val(result.val() + imagesResultSeparator);
        }
        result.val(result.val() + url);
    }

    function hideImage(i) {
        $(`#old-image${i}`).prop("hidden", true);
    }

    function getImageDivElement(i) {
        return $(`#old-image${i}`);
    }

    function getImageElement(i) {
        return getImageDivElement(i).children("img").eq(0);
    }

    function getImagesResultElement() {
        return $("#ImagesToDelete");
    }
</script>