@model HomePageViewModel

<head>
    @if (Model.Pagination.PageIndex == 1)
    {
        <title>@AppConfigs.Title - Home</title>
    }
    else
    {
        <title>@AppConfigs.Title - Last Reviews Page @Model.Pagination.PageIndex</title>
    }
</head>

@if (!Model.Reviews.Any())
{
    <div class="alert alert-warning m-3">
        Reviews Not Found
    </div>
}

<div class="position-relative row m-3">
    <div class="col-10">
        @foreach (var review in Model.Reviews)
        {
            await Html.RenderPartialAsync("_Preview", review);
        }
    </div>
    <div class="col-2">
        @foreach (var tag in Model.Tags)
        {
            <a class="@tag.CssClass"
           asp-action="ReviewsWithTag"
           asp-route-tagText="@tag.Text">@tag.Text</a>
        }
    </div>
</div>
@{
    await Html.RenderPartialAsync("_Pagination", Model.Pagination);
}